.light {
	--main-text-color: #fff;
	--accent-text-color: #000;
	--bg-color: #ffe0c7;
	--button-color: #b4befa;
	--button-after-color: #5c72fa;
}

.dark {
	--main-text-color: #000;
	--accent-text-color: #fff;
	--button-color: #ddfffd;
	--button-after-color: #88fcf6;
	--bg-color: #18191e;
}